/* 页面基础 */
.page {
  width: 336px;
  height: 480px;
  background-color: #000000;
}

/* 顶部导航栏 */
.header {
  width: 100%;
  height: 102px;
  position: relative;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 102px;
}

.system-time {
  position: absolute;
  top: 7px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  font-weight: 600;
}

.page-title {
  position: absolute;
  left: 0px;
  top: 35px;
  width: 100%;
  height: 45px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.nav-icon {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 6px;
}

.back-btn {
  left: 6px;
}

/* 菜单列表 */
.menu-list {
  margin-top: -16px;
  padding: 0 6px;
  flex-direction: column;
  align-items: center;
}

.menu-card {
  width: 100%;
  height: 112px;
  border-radius: 36px;
  margin-bottom: 8px;
  padding: 14px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.normal-bg {
  background-color: rgba(38, 38, 38, 1);
  border: 3px solid rgba(255, 255, 255, 0.03);
}

.active-bg {
  background-color: rgba(13, 110, 255, 1);
  border: 3px solid rgba(13, 110, 255, 1);
}

.card-content {
  flex-direction: column;
}

.feature-title {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.feature-desc {
  font-size: 28px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}